<% @individual_bookmark.each do |bookmark| %>
  <h3>Bookmark Name:</h3>
  <p><%= bookmark['name'] %></p>
  <h3>Bookmark Genre:</h3>
  <p><%= bookmark['genre'] %></p>
  <h3>Bookmark Info:</h3>
  <p><%= bookmark['info'] %></p>
  <a href="/bookmarks/<%= bookmark['id'] %>/edit">Edit This Bookmark</a>

  <br>
  <br>

  <form action='/bookmarks/<%= bookmark['id'] %>/delete' method='post'><input type='submit' value='Delete This Bookmark'>
  </form>

<% end %>