<% @individual_bookmark.each do |bookmark| %>
  <h5>Bookmark Name:</h5>
  <p><%= bookmark['name'] %></p>
  <h5>Bookmark Genre:</h5>
  <p><%= bookmark['genre'] %></p>
  <h5>Bookmark Info:</h5>
  <p><%= bookmark['info'] %></p>
  <a href="/bookmarks/<%= bookmark['id'] %>/edit">Edit This Bookmark</a>

  <br>

  <form action='/bookmarks/<%= bookmark['id'] %>/delete' method='post'><input type='submit' value='Delete This Bookmark'>
  </form>

  <br>
  <hr>

<% end %>